<%= provide(:title, "Корзина") %>

<div class="row">
   <div class="col-md-8 col-md-offset-2">
      <div class="well">
         <table>
            <tr id="hr_line">
               <td width="150">Изображение</td>
               <td width="260">Название товара</td>
               <td width="120">Количество</td>
               <td width="90">Цена</td>
               <td width="130">Сумма</td>
            </tr>
         </table>
         <hr>
         <%= form_tag({action: "change_numbers"}, method: "get") do %>
         <% sum_in_basket = 0 %>
         <% if @baskets && @baskets.any?%>
         <table>
            <%  @baskets.each do |f| %>
               <tr>                  
                  <td width="150"><%= image_tag(f.avatar_url.to_s, size: "80x100", title: f.color.ctxt, alt: f.color.ctxt) %></td>
                  <td width="350"><%= f.ctxt %>( <%= f.color.ctxt %> )<br><br>
                  Код товара: <%= f.cartikul %><br>
                  Размер: <%= f.size.ctxt %><br> 
                  <%= link_to "удалить", f,  method: :delete, data: { confirm: "Удалить из корзины?" }, style: ["color: #f00;"] %></td>
                  <% @kol = "kol" + f.id.to_s %>
                  <td width="80"><%= text_field_tag(@kol, f.number, style: ["width: 50px; height: 33px;"]) %></td>
                  <% if current_user && current_user.admin? %>
                    <% @price = "price" + f.id.to_s %>
                    <td width="190" align="center"><%= text_field_tag(@price, f.nprice, style: ["width: 80px; height: 33px;"]) %> грн.</td>
                  <% else %>
                        <td width="190" align="center"><%= f.nprice  unless f.nprice.nil? %> грн.</td>
                  <% end %>
                  <td width="130"><%= f.nsum %> грн.</td>
               </tr>
               <tr>
                  <td width="150"><hr id="hr_line"></td>
                  <td width="300"><hr id="hr_line"></td>
                  <td width="60"><hr id="hr_line"></td>
                  <td width="190"><hr id="hr_line"></td>
                  <td width="130"><hr id="hr_line"></td>
               </tr>
               <% sum_in_basket = sum_in_basket + f.nsum  unless f.nsum.nil? %>
           <% end %> 
         </table>
         <% else %>
               <div style="color: #ff00FF;" >В Вашей корзине товаров нет или они уже Вами заказаны. Для просмотра заказаных товаров зайдите в Кабинет - Мои Заказы </div>
         <% end %>

         <div class="row">
             <div class="col-md-3">
               <%= link_to "Продолжить покупки", root_path, class: "btn btn-sm"  %>
            </div>
            <% if @baskets && @baskets.any?%>
               <div class="col-md-3">
                  <%= link_to "Удалить все", del_basket_all_path, data: { confirm: "Удалить из корзины все записи?" }, class: "btn btn-sm" %>      
               </div>
               <div class="col-md-3 col-md-offset-2">
                   <%= submit_tag("Пересчитать", class: "btn btn-sm") if @baskets && @baskets.any? %>
               </div>
            </div>
         
            <div class="row">
               <div class="col-md-5 col-md-offset-7">
                  <span class="ws12" style="margin-left: 60px; color: #900090;"> Доставка: 35 грн.  </span>
               </div>
            </div>   
               <div class="row">
                  <div class="col-md-5 col-md-offset-7">
                     <span class="ws18" style="margin-left: 60px; color: #900090;"> Итого: <%= sum_in_basket + 35 %> грн.  </span>
               </div>
           <% end %>    
         </div>         
         <% end %>
         <div class="row">
            <div class="col-md-4 col-md-offset-7">
               <% if signed_in? %>
                  <%= link_to " Оформить заказ", info_orders_path, class: ["btn btn-lg btn-default", "glyphicon glyphicon-thumbs-up"] if @baskets && @baskets.any? %>
               <% else %>
                  <%= link_to " Оформить заказ", signin_path, class: ["btn btn-lg btn-default", "glyphicon glyphicon-thumbs-up"] if @baskets && @baskets.any? %>
               <% end %>

            </div>   
         </div>   
      </div>    
   </div>
</div>

