<% unless $goods.empty? %>

<br>
   <div class="col-md-10 col-md-offset-3">
     <ul class="breadcrumb">
         <li><%= link_to "Главная", root_path, class: "cat" %></li>
         <li><%= link_to @gr_tov_ctxt.ctxt, mens_path, class: "cat" %></li>
         <li><%= @kat_ctxt.ctxt_ua + " (" + "Отобрано: " + $goods.count.to_s + ")"  %> </li>
    </ul>
    <%= form_tag({ controller: "products", action: "search" }, method: "get") do %>
         <div class="row">
               <%= button_tag("цена по возрастанию", name: :btn_up, class: "cat") %>
               <%= button_tag("цена по убыванию", name: :btn_down) %>
               <%= button_tag("новинки", name: :btn_new) %>
               <span class="col-md-offset-4"> На странице</span>
               <div class="btn-group">
                  <%= button_tag("24", name: :page_per, value: 24) %>
                  <%= button_tag("48", name: :page_per, value: 48) %>
                  <%= button_tag("96", name: :page_per, value: 96) %>
               </div>
         </div>
     <% end %>
    <br>
   </div>
               <ul class="col-xs-8 col-md-3 col-md-offset-1" style="width: 300px;">
                   <div class="well" style="background: black;">
                      <strong>Цена</strong><br>
                    <%= form_tag({ controller: "products", action: "search" }, method: "get") do %>
                      <%= text_field_tag(:price_min, 0, type: "text", maxlength: 5, placeholder: " цена от", class: ["col-md-5"]) %>
                      <%= text_field_tag(:price_max, 99000, type: "text", maxlength: 5, placeholder: "цена до", class: ["col-md-5 col-md-offset-1"]) %>

                        <% filter.each do |f| %>
                           <% @id = f.id %>
                         <li><strong><%= f.ctxt %></strong></li>
                         <ul> 
                          <% @flt = [] %>
                          <% @n = 0 %>
                          <% case @id %>
                              <% when 5 %>
                                 <ul class="search_block">
                                 <% check_type.each do |f| %>
                                    <% @type = "type" + f.id.to_s %>
                                    <li><div class="col-md-3"><%= radio_button_tag(:type, f.id) %></div>
                                        <%= label_tag(@type, f.ctxt) %></li>
                                    <% @flt[@n] = f.id %>
                                    <% @n += 1 %>
                                 <% end %>
                                 </ul>
                                 <% $filter_value[2] = @flt if $filter_value[2] == nil %>
                              <% when 4 %>
                                 <ul class="search_block">
                                 <% Connection.joins(:product).where(products: { group_tov_id: $filter_value[0], kategory_id: $filter_value[1] }).uniq.each do |f| %>
                                       <% @flt[@n] = f.product.brand_id.to_i %>
                                       <% @n += 1 %>
                                 <% end %> 
                                 <% @flt.uniq.each do |f| %>
                                 <% @brand = "brand" + f.to_s %>
                                 <li><div class="col-sm-3 col-md-3"><%= radio_button_tag(:brand, f) %></div>
                                           <% brand = Brand.find(f) %> 
                                           <%= label_tag(@brand, brand.ctxt) %></li>
                                 <% end %>
                                 </ul>
                                 <% if $filter_value[3] == nil %>
                                       <% $filter_value[3] = @flt.uniq %>
                                 <% end %>
                              <% when 3 %>                                 
                                 <ul class="search_block">
                                
                                <% Connection.joins(:product).where(products: { group_tov_id: $filter_value[0], kategory_id: $filter_value[1] }).uniq.each do |f| %>
                                       <% @flt[@n] = f.product.season_id.to_i %>
                                       <% @n += 1 %>
                                 <% end %> 
                                 <% @flt.uniq.each do |f| %>
                                 <% @season = "season" + f.to_s %>
                                 <li><div class="col-md-3"><%= radio_button_tag(:season, f) %></div>
                                           <% season = Season.find(f) %> 
                                           <%= label_tag(@season, season.ctxt) %></li>
                                 <% end %>
                                 </ul>
                                 <% if $filter_value[4] == nil %>
                                       <% $filter_value[4] = @flt.uniq %>
                                 <% end %>
                                 <% when 4 %>
                                <ul class="search_block"> 
                                <% Manufacturer.all.each do |f| %>
                                    <% if f.id > 0 %>
                                       <% @manufacturer = "manufacturer" + f.id.to_s %>
                                       <li><%= radio_button_tag(:manufacturer, f.id) %>
                                       <%= label_tag(@manufacturer, f.ctxt) %></li>
                                       <% @flt[@n] = f.id %>
                                       <% @n += 1 %>
                                    <% end %>   
                                 <% end %>
                                 </ul>
                                 <% if $filter_value[5] == nil %>
                                        <% $filter_value[5] = @flt %>
                                 <% end %>
                              <% when 2 %>
                                 <ul class="search_block">
                                 <% Connection.joins(:product).where(products: { group_tov_id: $filter_value[0], kategory_id: $filter_value[1] }).uniq.each do |f| %>
                                    <% @flt[@n] = f.color_id.to_i %>
                                    <% @n += 1 %>
                                 <% end %>
                                    <% @flt.uniq.each do |f| %>
                                    <% @idc = "idc" + f.to_s %>
                                    <li><div class="col-md-3"><%= check_box_tag(@idc, f) %></div>
                                        <% col = Color.find(f)%>
                                        <%= label_tag(@idc, col.ctxt) %></li>
                                    <% end %>    
                                </ul>   
                                   <% if $filter_value[6] == nil %>
                                         <% $filter_value[6] = @flt.uniq %>
                                   <% end %>    
                              <% when 6 %>
                                 <ul class="search_block">
                                 <% Neck.all.each do |f| %>
                                    <% @neck = "neck" + f.id %>
                                    <li><%= radio_button_tag(:neck, f.id) %>
                                        <%= label_tag(@neck, f.ctxt) %></li>
                                         <% @flt[@n] = f.id.to_i %>
                                         <% @n += 1 %>
                                   <% end %>
                                   </ul>
                                   <% if $filter_value[8] == nil %>
                                         <% $filter_value[8] = @flt %>
                                   <% end %>    
                              <% when 1 %>
                                 <ul class="search_block">
                                    <% Connection.joins(:product).where(products: { group_tov_id: $filter_value[0], kategory_id: $filter_value[1] }).uniq.each do |f| %>
                                        <% f.connectionsizes.each do |c| %>
                                            <% @flt[@n] = c.size_id.to_i %>
                                            <% @n += 1 %>
                                        <% end %>
                                    <% end %>
                                    <% @flt.uniq.each do |f| %>
                                    <% @ids = "ids" + f.to_s %>
                                    <li><div class="col-md-3"><%= check_box_tag(@ids, f) %></div>
                                        <% size = Size.find(f)%>
                                        <%= label_tag(@ids, size.ctxt) %></li>
                                    <% end %>    
                                </ul>   
                                   <% if $filter_value[9] == nil %>
                                         <% $filter_value[9] = @flt.uniq %>
                                   <% end %>    
                          <% end %>
                          </ul>  
                        <% end %><br>
                   <div class="row">
                              <%= submit_tag("Поиск",  title: "Поиск товаров по установленным фильтрам",class: ["btn btn-default", "col-md-4 col-md-offset-1"]) %>     
                    <% end %>
                    <%= form_tag({ controller: "products", action: "cancel" }, method: "get") do %>
                        <%= submit_tag("Сброс", style: ["margin-top: -35px;"], title: "Сброс предустановленных фильтров", class: ["btn btn-default", "col-md-4 col-md-offset-6"]) %>                              
                    <% end %>
                    </div>
                   </div>    
               </ul>
   

   <% n = 0 %>
   <table border="2" bordercolor="#696969" align="center">
      <tr>
   <%  $goods.each do |con| %>
      <% n += 1 %>
      <% if n > 3 %>
          <% n = 0 %>
          <tr>
      <% end %>      
                  <% unless con.avatar_url.nil? %>
                     <td>
                        <div class="thumbnails" style="background: #000; hover: #ff00ff;"> 
                        <%= link_to image_tag(con.avatar.thumb.url), product_path(con.id) %>
                        <div class="caption" style="color: #fff; margin-left: 30px;">
                           <% if con.product.lvisible == false %>
                               <h5 style="color: #ff0000"><blink>Товар скрыт от покупателя</blink></h5> 
                           <% end %>
                           <h5><%= con.product.ctxt %></h5>
                           <% unless con.product.nprice.to_i == 0 %>
                              <% if con.number > 0 %>  
                                <h4><%= con.product.nprice - con.number %> грн. </h4>
                              <% else %>
                                <h4><%= con.product.nprice %> грн. </h4>
                              <% end %>
                           <% else%>
                              <h5 style="color: #ff00ff;">Цену уточняйте у менеджера</h5>
                           <% end %>
                           <% if con.product.nold_price.to_i > 0 %> 
                              <h5 style="text-align: center; text-decoration: line-through; color: #ff0000;"><%= con.product.nold_price %> грн. </h5>
                           <% else %>
                              <br>
                           <% end %>
                           <% if  signed_in? && current_user.admin? %>
                                <%= link_to "Изменить", edit_product_path(con.product_id) %>
                                <%= link_to "Удалить", con.product, method: :delete, data: { confirm: "Будут удалены также все связи. Удалять?"} %>
                           <% end %>     
                        </div>
                        </div>
                     </td>   
              <% end %>   
              
      <% if n > 3 %> 
            <% n = 0 %>
            </tr>
      <% end %>      
   <% end %>   
   </table>
<% else %>
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="well">
                <h4> Извините. Информация временно недоступна. Идет обновление данных </h4>
            </div>
        </div>
    </div>
<% end %>
