  <div class="row">
<!--      <div class="col-md-6"> -->
<!--            <%= gravatar_for @user %>  -->
<!--            <a href="http://gravatar.com/emails">изменить изображение</a>  -->
<!--      </div>   -->   

      <div class="col-md-6 col-md-offset-3">
      <div class="well">
         <%= form_for(@user) do |f| %>
            <%= render 'shared/error_messages', object: f.object %>
            <table>
               <tr>
                  <td> <%= f.label        "Имя" %>
                       <%= f.text_field   :name %></td>
                  <td> <%= f.label         "Фамилия" %>
                       <%= f.text_field    :last_name %></td>
              </tr>
              <tr>
                  <td> <%= f.label         "Населенный пункт" %>
                       <%= f.text_field    :city %></td>
                  <td> <%= f.label         "Адрес доставки" %>
                       <%= f.text_field   :adress %></td>
             </tr>
             <tr>
                  <td><%= f.label        "Мобильный телефон" %>
                      <%= f.text_field   :phone %> </td>
                  <td><%= f.label        "Електронный адрес" %>
                      <%= f.text_field   :email %> </td>
             </tr>
             <tr>
                  <td><%= f.label        "Пароль (не менее 6 символов)" %>
                      <%= f.text_field   :password, type: :password %></td>
                  <td><%= f.label        "Повторите пароль еще раз" %>
                      <%= f.text_field   :password_confirmation, type: :password %></td>
            </tr>
       </table>
       <div class="col-md-4 col-md-offset-4">
         <%= f.submit "Сохранить", class: ["btn btn-default", "col-md-6 col-md-offset-3"] %>
      </div><br>  
      <% end %><br>
    </div>
  </div>  
</div>

