                  <table border="3" bordercolor="#ff00ff" align="center">
                     <tr align="center">
                        <% if current_user.admin %>
                           <td width="80"><b>№ заказа</b></td>
                        	<td width="200"><b>Создан</b></td>
                        	<td width="180"><b>Статус заявки</b></td>
                           <td width="180">Оплата</td>
                           <td width="180">Доставка</td>
                           <td width="300">Комментарий</td>
                           <td width="300"><b>Клиент</b></td>
                           <td width="400"><b>№ декларации</b></td>
                        <%else%>
                           <td width="80"><b>№ заказа</b></td>
                        	<td width="200"><b>Создан</b></td>
		        	            <td width="300"><b>Статус заявки</b></td>
                           <td width="400"><b>№ декларации</b></td>

                        <% end %>
                  </tr>
                  <% if @orders %>
     
                  <% @orders.each do |order| %>
                     <%= form_for order, url: { controller: "orders", action: "update" },  method: "patch", html: { class: "nifty_form" } do |d| %>
                     <tr align="center">
			               <td width="80"><%= link_to order.id, basket_path(order.id) %></td>  
            		     	<td width="180"><%= order.created_at %></td>
            		     	<td width="180"><%= order.status_delivery.ctxt %></td>
                        <% if current_user.admin %>
                           <td width="180"><%= order.oplata %></td>
                           <td width="180"> <%= order.dostavka %></td>
                           <td> <%= order.ccontent %></td>
                           <td width="300"><b><%= link_to order.user.name, user_path(order.user_id) %></b></td>
                           <%= d.text_field :id, type: :hidden %>
                           <td width="400"><%= d.text_field :declaration_id %>
                           <%= d.submit("Сохранить") %></td>
                        <% else %>   
                           <td width="400"><%= order.declaration_id %>
                        <% end %>

                     <% end %>   
		               </tr>  	          
                     <% end %>
                 <% else %>    
                     <%= flash.now[:notice] = 'Заказы отсутствуют' %>
                     <%= redirect_to basket_path %>   
                 <% end %>
                  </table>

