<%= provide(:title, "Регистрация") %>

<div class="row">
   <div class="col-sm-10 col-md-7 col-sm-offset-1 col-md-offset-3">
      <div class="well">
      <h2>Для доставки товара внесите Ваши данные</h2>
         <div class="row">
            <div class="col-sm-6 col-md-5 col-sm-offset-2 col-md-offset-4">
                <%= link_to " Я уже раньше здесь покупал ", signin_path, 
                class: ["btn btn-default", "glyphicon glyphicon-user"] %>
            </div>
         </div>
         <br>
         <div class="row">
            <div class="col-sm-10 col-md-10 col-sm-offset-1 col-md-offset-1">

               <%= form_for(@user) do |f| %>
               <%= render 'shared/error_messages', object: f.object %>
            <table>
             <tr>
                  <td><strong style="color: #ff0000;">*</strong><%= f.label "Електронный адрес" %>
                      <%= f.text_field   :email %> </td>
                  <td><strong style="color: #ff0000;">*</strong><%= f.label "Мобильный телефон" %>
                      <%= f.text_field   :phone %> </td>
             </tr>
               <tr>
                  <td><strong style="color: #ff0000;">*</strong><%= f.label "Имя" %>
                       <%= f.text_field   :name %></td>
                  <td><strong style="color: #ff0000;">*</strong><%= f.label "Фамилия" %>
                       <%= f.text_field    :last_name %></td>
              </tr>
              <tr>
                  <td><strong style="color: #ff0000;">*</strong><%= f.label "Населенный пункт" %>
                       <%= f.text_field    :city %></td>
                  <td> <%= f.label         "Адрес доставки" %>
                       <%= f.text_field   :adress %></td>
             </tr>
             <tr>
                  <td><strong style="color: #ff0000;">*</strong><%= f.label "Пароль (не менее 6 символов)" %>
                      <%= f.text_field   :password, type: :password %></td>
                  <td><strong style="color: #ff0000;">*</strong><%= f.label "Повторите пароль еще раз" %>
                      <%= f.text_field   :password_confirmation, type: :password %></td>
             </tr>
            </table>
       <strong style="color: #ff0000;">*  Поля, обязательные для заполнения</strong><br>   
               <%= f.submit "OK", class: ["btn btn-default active", 
               "col-sm-6 col-md-3 col-sm-offset-2 col-md-offset-4", 
               "glyphicon glyphicon-save"] %>
               <% end %>
            </div>
         </div>  
      </div>
   </div>   
</div>   
</div>   
