         <table>
            <tr id="hr_line">
               <td width="150">Изображение</td>
               <td width="250">Название товара</td>
               <td width="120">Количество</td>
               <td width="90">Цена</td>
               <td width="130">Сумма</td>
            </tr>
         </table>
         <hr>

         <% $sum_in_basket = 0 %>
         <table>
            <% Basket.all.each do |f| %>         
              <% f.user_id = current_user.id if f.remember_token == $remember_token %>
              <% f.save %>
            <% end %>
            <% Basket.where(user_id: current_user.id, order_id: nil).each do |f| %>
               <tr>                  
                  <td width="150"><%= image_tag(f.avatar_url.to_s, size: "80x100", title: f.color.ctxt, alt: f.color.ctxt) %></td>
                  <td width="250"><%= f.ctxt %>( <%= f.color.ctxt %> )<br><br>
                  Код товара: <%= f.cartikul %><br>
                  Размер: <%= f.size.ctxt %><br> 
                  <% @kol = "kol" + f.id.to_s %>
                  <td width="80"><%= f.number %></td>
                  <td width="190" align="center"><%= f.nprice %> грн.</td>
                  <td width="130"><%= f.nsum %> грн.</td>
               </tr>
               <tr>
                  <td width="150"><hr id="hr_line"></td>
                  <td width="250"><hr id="hr_line"></td>
                  <td width="80"><hr id="hr_line"></td>
                  <td width="90"><hr id="hr_line"></td>
                  <td width="130"><hr id="hr_line"></td>
               </tr>
               <% $sum_in_basket = $sum_in_basket + f.nsum %>
            <% end %> 
         </table>
            <div class="row">
               <div class="col-md-5 col-md-offset-7">
                  <span class="ws12" style="margin-left: 60px; color: #000;"> Товара на сумму: <%= $sum_in_basket %> грн.  </span><br>
                  <span class="ws12" style="margin-left: 120px; color: #000;"> Доставка: 35 грн.  </span>
               </div>
            </div>   
               <div class="row">
                  <div class="col-md-5 col-md-offset-7">
                     <span class="ws18" style="margin-left: 60px; color: #900090;"> Итого: <%= $sum_in_basket + 35 %> грн.  </span>
               </div>
            </div>   
      
