<%= provide(:title, "Складские операции") %>

<div class="row">
   <div class="col-md-7 col-md-offset-3">
      <div class="well">
      <h2>Наполнение склада</h2>
         <div class="row">
            <div class="col-md-10 col-md-offset-1">
               <%= form_for(@storage) do |f| %>
               <%= render 'shared/error_messages', object: f.object %>
            <table>
               <tr>
                  <td><strong style="color: #ff0000;">*</strong><%= f.label "Артикул" %>
                       <%= f.text_field   :cartikul %></td>
                  <td><strong style="color: #ff0000;">*</strong><%= f.label "Наименование товара" %>
                       <%= f.text_field    :ctxt %></td>
              </tr>
              <tr>
                  <td><strong style="color: #ff0000;">*</strong><%= f.label "Количество" %>
                       <%= f.text_field    :number %></td>
                  <td> <%= f.label         "Артикул дополнительный" %>
                       <%= f.text_field   :cartikul_add %></td>
             </tr>
       </table>
       <strong style="color: #ff0000;">*  Поля, обязательные для заполнения</strong><br>   

               <%= f.submit "Сохранить", class: ["btn btn-default", "col-md-5 col-md-offset-3"] %>
               <% end %>
            </div>
         </div>  
      </div>
   </div>   
</div>   
</div>   
