<%= provide(:title, "Ввод категории товара") %>

<% group_tovs_array = GroupTov.all.map { |group_tov| [group_tov.ctxt, group_tov.id] } %>

<div class="row">
   <div class="col-md-7 col-md-offset-3">
      <div class="well">
      <h2>Добавляем новую категорию товаров</h2>
         <div class="row">
            <div class="col-md-10 col-md-offset-1">
               <%= form_for(@kategory) do |f| %>
               <table>
               <tr>
                  <td><strong style="color: #ff0000;">*</strong><%= f.label "Наименование" %>
                       <%= f.text_field   :ctxt_ua %></td>
                  <td><strong style="color: #ff0000;">*</strong><%= f.label "Группа товаров" %>
                  <%= f.select(:group_tov_id, options_for_select(group_tovs_array), class: ["btn btn-default"]) %></td>
              </tr>
              <tr>
                  <td><strong style="color: #ff0000;">*</strong><%= f.label "Фото для каталога" %>
                  <%= f.file_field :avatar %></td>
              </tr> 
             </table>
       <strong style="color: #ff0000;">*  Поля, обязательные для заполнения</strong><br>   

               <%= f.submit "Сохранение", class: ["btn btn-default", "col-md-5 col-md-offset-3"] %>
               <% end %>
            </div>
         </div>  
      </div>
   </div>   
</div>   
</div>   

