<%= provide(:title, "Складские операции") %>

<% necks_array = Neck.all.map { |neck| [neck.ctxt, neck.id] } %>
<% sizes_array = Size.all.map { |size| [size.ctxt, size.id] } %>
<% colors_array = Color.all.map { |color| [color.ctxt, color.id] } %>
<% @group_tovs_array = GroupTov.all.map { |group_tov| [group_tov.ctxt, group_tov.id] } if @group_tovs_array.nil? %>
<% @kategories_array = Kategory.order("ctxt_ua").all.map { |kategory| [kategory.ctxt_rus + ' ' + kategory.ctxt_ua, kategory.id] } if @kategories_array.nil? %>
<% @brands_array = Brand.all.map { |brand| [brand.ctxt, brand.id] } if @brands_array.nil? %>
<% group_tovs_array = GroupTov.all.map { |group_tov| [group_tov.ctxt, group_tov.id] } %>
<% kategories_array = Kategory.all.map { |kategory| [kategory.ctxt_rus + ' ' + kategory.ctxt_ua, kategory.id] } %>
<% seasons_array = Season.all.map { |season| [season.ctxt, season.id] } %>
<% manufacturers_array = Manufacturer.all.map { |manufacturer| [manufacturer.ctxt, manufacturer.id] } %>
<% @types_array = Type.all.map { |type| [type.ctxt, type.id] } if @types_array.nil? %>
<% conditions_array = Condition.all.map { |condition| [condition.ctxt, condition.id] } %>

<div class="row">
   <div class="col-md-7 col-md-offset-3">
      <div class="well">
      <h2>Наполнение склада</h2>
         <div class="row">
            <%= form_tag("/flt_by_group_tov") do -%>
               <table>
                  <tr>
                     <td width="300"><strong style="color: #ff0000;">* Категория</strong></td>
                    <td width="700"><%= select_tag(:group_tov_id, options_for_select(@group_tovs_array), class: ["btn btn-default"]) %></td>
                    <td width="150"><%= button_tag("Выбрать", class: ["btn btn-default"]) -%></td>
                    <td width="150"><%= link_to("Доб. группу ", "#", class: ["btn btn-default"])%>
                  </tr>
            <% end %>
            <%= form_tag("/flt_by_kategory", method: "get") do -%>
                  <tr>
                     <td width="300"><strong style="color: #ff0000;">* Подкатегория</strong></td>
                    <td width="700"><%= select_tag(:kategories_id, options_for_select(@kategories_array), class: ["btn btn-default"]) %></td>
                    <td width="150"><%= button_tag("Выбрать", class: ["btn btn-default"]) -%></td>
                    <td width="150"><%= link_to("Доб.категор.  ", new_kategory_path, class: ["btn btn-default"])%></td>
                  </tr>
                  <tr>
                    <td width="300"><strong style="color: #ff0000;">* Тип</strong></td>
                    <td width="700"><%= select_tag(:type_id, options_for_select(@types_array), class: ["btn btn-default"]) %></td>
                    <td width="150"></td>
                    <td width="150"><%= link_to("Доб.    тип", new_type_path, class: ["btn btn-default"])%></td>
              <% end %>
          <%= form_for @product, { html: { multipart: true } }  do |f| %>  
                  </tr>
                    <td width="300"><strong style="color: #ff0000;">* Бренд</strong></td>
                    <td width="700"><%= f.select(:brand_id, options_for_select(@brands_array), class: ["btn btn-default"]) %></td>
                    <td width="150"></td>
                    <td width="150"><%= link_to("Доб. бренд ", new_brand_path, class: ["btn btn-default"])%></td>
                  </tr>
                  <tr>
                    <td width="300"><strong>Страна-изготовитель</strong></td>
                    <td width="700"><%= f.select(:manufacturer_id, options_for_select(manufacturers_array), class: ["btn btn-default"]) %></td>
                    <td width="150"></td>
                    <td width="150"><%= link_to("Доб. страну ", new_manufacturer_path, class: ["btn btn-default"])%></td>
                  </tr>
                  <tr>
                    <td width="300"><strong style="color: #ff0000;">* Сезон</strong></td>
                    <td width="700"><%= f.select(:season_id, options_for_select(seasons_array), class: ["btn btn-default"]) %></td>
                    <td width="150"></td>
                    <td width="150"></td>
                  </tr>
                  <tr>
                    <td width="300"><strong>Горловина</strong></td>
                    <td width="700"><%= f.select(:neck_id, options_for_select(necks_array), class: ["btn btn-default"]) %></td>
                    <td width="150"></td>
                    <td width="150"><%= link_to("Доб. данные ", "#", class: ["btn btn-default"])%></td>
                  </tr>
                  <tr>
                    <td width="300"><strong>Состояние</strong></td>
                    <td width="700"><%= f.select(:condition_id, options_for_select(conditions_array), class: ["btn btn-default"]) %></td>
                    <td width="300" align="right"><strong>Наличие</strong></td>
                    <td width="250"><%= f.select(:availability, options_for_select(["есть в наличии", "под заказ"]), class: ["btn btn-default"]) %></td>
                  </tr>
                  <tr>
                    <td width="300"><strong style="color: #ff0000;">* Наименование</strong></td>
                    <td width="700"><%= f.text_field :ctxt %></td>
                  </tr>
                </table>
                <table>
                  <tr>
                    <td width="170"><strong style="color: #ff0000;">* Артикул</strong></td>
                    <td width="150"><%= f.text_field :cartikul %></td>
                    <td width="150" align="right"><strong style="color: #ff0000;">* Цена</strong></td>
                    <td width="150"><%= f.text_field(:nprice, maxlenth: 5) %></td>
                  </tr>
                  <tr>  
                    <td width="170"><strong>Цена до уценки</strong></td>
                    <td width="150"><%= f.text_field :nold_price %></td>
                    <td width="150" align="right"><strong>Закупочная цена</strong></td>
                    <td width="150"><%= f.text_field :npurchase_price %></td>
                  </tr>
               </table> 
               <table>
                  <tr>
                     <td width="170"><strong>Описание товара</strong></td>
                     <td width="450"><%= f.text_area :ccontent %></td>
                  </tr>  
               </table>   
               <strong style="color: #ff0000;">* Поля, обязательные для заполнения</strong><br>   
               <%= f.submit "Сохранить", class: ["btn btn-default", "col-md-3 col-md-offset-3"] %>
            <% end %>
            <%= form_tag("/sbros_flt", method: "get") do %>
               <%= submit_tag("Сброс фильтров", class: ["btn btn-default", "col-md-3"]) %>
            <% end %>
         </div>
      </div>
   </div>   
</div>   


