<% provide(:title, $product.product.ctxt) %>
<br>

<div class="row">
   <div class="col-md-6 col-md-offset-1">
     <ul class="breadcrumb">
         <li><%= link_to "Главная", root_path, class: "cat" %></li>
         <li><%= link_to @gr_tov_ctxt.ctxt, mens_path, class: "cat" %></li>
         <li><%= link_to @kat_ctxt.ctxt_ua, kategory_group_tov_path($filter_value[1], $filter_value[0]), class: "cat"  %> </li>
         <li><%= $product.product.ctxt%></li>
     </ul>
   </div>
</div>
<div class="row">
   <div class="container"><br>
      <div class="col-md-6 col-md-2" style="background: #eee;">
         <font size="5" color='#000' face="Times New Roman, Times, serif;"><%= $product.product.ctxt %></font>
         <font size="6" color="#900090" face="Times New Roman, Times, serif;" style="margin-left: 190px;" ><%= $product.product.nprice %><font size="3"> грн.</font></font><br>
         <div class="row">
            <div class="col-md-offset-1">
                <font size="2" color='#000' face="Times New Roman, Times, serif;">Код товара <%= $product.cartikul %></font>
            </div>
         </div>   
         <%= render "shared/hr_line" %>
         <table>
            <tr><td>Бренд:</td><td><%= $product.product.brand.ctxt %></td></tr> 
            <tr><td>Страна бренда:</td><td><%= $product.product.manufacturer.ctxt %></td></tr>
            <tr><td>Сезон:</td><td><%= $product.product.season.ctxt %></td></tr>
            <% unless $product.product.neck_id == nil %>
                 <tr><td>Вырез горловины:</td><td><%= $product.product.neck.ctxt %></td></tr>
            <% end %>
            <% unless $product.product.fastener_id == nil %>
                 <tr><td>Застежки:</td><td><%= $product.product.fastener.ctxt %></td></tr>
            <% end %>
            <tr><td>Цвет:</td><td><%= @show_photo.color.ctxt %></td></tr>
          </table>
            Доступные цвета:
            <div class="row">
                <div class="col-md-offset-1">
                    <table>
                        <tr align="left">
                            <% @prod.connections.each do |f| %>
                            <% if @show_photo && @show_photo.id == f.id %>
                                <% border = "border: 3px solid #ff0000;" %>
                            <% end %>
                            <td width="80px;" height="100px;"> <%= link_to image_tag(f.avatar_url.to_s, title: f.color.ctxt, size: "60x80", alt: f.color.ctxt, 
                                                               style: "#{border}"), photo_basket_path(f.id) %></td>
                            <% end %>  
                        </tr>                
                    </table>
                </div>
            </div>    
        
            <table>
            <tr>
            Выбирите размер:
            <% img = "/uploads/images/kvadrat_lighter.gif" %>
            <% Connectionsize.where(connection_id: @show_photo.id).each do |c| %>
                <% if @chooze_size && @chooze_size.id == c.id %>    
                    <% border = "border: 1px solid #ff0000;" %>
                <% end %>    
               <td><%= link_to image_tag(img, alt: c.size.ctxt, onmouseover: "this.src='/uploads/images/kvadrat.gif';", title: c.size.ctxt,
                        onmouseout: "this.src='/uploads/images/kvadrat_lighter.gif';", style: "#{border}"), size_basket_path(c.id) %></td>
<!--                <td><%= radio_button_tag(:size, c.size.id, type: "hidden", class: "btn") %>  -->
                <td><span style="margin-left: -35px;"><%= c.size.ctxt %></span></td>
            <% end %>
            </tr>
            </table><br>
         <%= form_tag({ controller: "baskets", action: "create" }, method: "post") do %>
            <%= button_tag(" КУПИТЬ", name: :btn_buy, class: ["btn btn-danger", "col-md-offset-8", "glyphicon glyphicon-shopping-cart"], style: ["margin-top: -300px;"]) %>
         <% end %> 
            Дополнительная информация: <br>
            <%= $product.product.ccontent %>
                            
<br> 

                
      </div>    
   </div>

</div>
   <%= render "products/show_photo" %>
</div>

            <div class="row">
               <% @add_photos = $product.additional_photos %>
               <% @add_photos.each do |f| %>
                  <div class="col-md-2">
                     <%= link_to image_tag(f.cphoto, size: "60x80", alt: "Нет фото"), additional_photo_path(f.id) %>                        
                  </div>                  
               <% end %>
            </div>
            <%= render "shared/hr_line" %>
         <span style="color: #000;">

