<% provide(:title, $product.product.ctxt) %>
<br>

<div class="row">
   <div class="col-md-6 col-md-offset-1">
     <ul class="breadcrumb">
         <li><%= link_to "Главная", root_path, class: "cat" %></li>
         <li><%= link_to @gr_tov_ctxt.ctxt, mens_path, class: "cat" %></li>
         <li><%= link_to @kat_ctxt.ctxt_ua, kategory_group_tov_path($filter_value[1], $filter_value[0]), class: "cat"  %> </li>
         <li><%= $product.product.ctxt%></li>
     </ul>
   </div>
</div>
<div class="row">
   <div class="container"><br>
      <div class="col-md-6 col-md-2" style="background: #eee;">
         <font size="5" color='#000' face="Times New Roman, Times, serif;"><%= $product.product.ctxt %></font>
               <font size="6" color="#900090" face="Times New Roman, Times, serif;" style="margin-left: 190px;" ><%= $product.product.nprice %><font size="3"> грн.</font></font><br>

            <%= render "shared/hr_line" %>
            <div class="row">
               <% @add_photos = $product.additional_photos %>
               <% @add_photos.each do |f| %>
                  <div class="col-md-2">
                     <%= link_to image_tag(f.cphoto, size: "60x80", alt: "Нет фото"), additional_photo_path(f.id) %>                        
                  </div>                  
               <% end %>
            </div>
            <%= render "shared/hr_line" %>
         <span style="color: #000;">
         <table>
            <tr><td>Производитель:</td><td><%= $product.product.manufacturer.ctxt %></td></tr>
            <tr><td>Бренд:</td><td><%= $product.product.brand.ctxt %></td></tr> 
         </table>
      <%= form_tag({ controller: "baskets", action: "create" }, method: "post") do %>
         <%= button_tag(" В КОРЗИНУ", name: :btn_buy, class: ["btn btn-danger", "glyphicon glyphicon-shopping-cart", "col-md-offset-8"]) %><br>
      <%= render "shared/hr_line" %>
         <div class="tabbable">
            <ul class="nav nav-tabs">
               <li class="active"><a href="#tab1" data-toggle="tab">НАЛИЧИЕ</a></li>
               <li><a href="#tab2" data-toggle="tab">ОПИСАНИЕ</a></li>  
               <li><a href="#tab3" data-toggle="tab">РАЗМЕРЫ</a></li>
               <li><a href="#tab4" data-toggle="tab">ОТЗЫВЫ</a></li>
            </ul>   
            <div class="tab-content">
                <div class="tab-pane" id="tab2">
                     <p><%= $product.product.ccontent %></p>
                     <p><font size="4">Дополнительная информация:</font></p>
                     Производитель: <%= $product.product.manufacturer.ctxt %><br>
                     Сезон: <%= $product.product.season.ctxt %><br>
                     <% unless $product.product.neck_id == nil %>
                        Вырез горловины: <%= $product.product.neck.ctxt %><br>
                     <% end %>
                     <% unless $product.product.fastener_id == nil %>
                        Застежки: <%= $product.product.fastener.ctxt %>
                     <% end %>
                </div>
                <div class="tab-pane" id="tab3">
                     <p> 	Длина рукава 	Ширина спины 	Длина спины
                           S 	65 	54 	77
                           M 	66 	55 	78
                           L 	67 	56 	79
                           XL 	68 	57 	80
                           2XL 	69 	58 	81</p>
                </div>
                <div class="tab-pane" id="tab4">
                </div>
                <div class="tab-pane active" id="tab1"><br>
                <table border="2" bordercolor="#ff00ff" align="center">
                    <tr align="center"> 
                        <td width="100">Артикул</td>
                        <td width="80">Цвет</td>
                        <td width="100">Размер</td>
                        <td width="100">Количество</td>
                        <td width="80">Выбор</td>
                         <% if signed_in? && current_user.admin? %>
                           <td width="80">В наличии</td>
                         <% end %>    
                    </tr>    

                 <% @prod.connections.each do |f| %> 
                    <tr align="center">
                        <td width="100"><%= f.cartikul %></td>
                         <td width="80"> <%= link_to image_tag(f.avatar_url.to_s, title: f.color.ctxt, size: "60x80", alt: f.color.ctxt), photo_product_path(f.id) %></td>
                         <%= text_field_tag(:color, f.color.id, type: "hidden") %>
                              <% sizes_array = f.connectionsizes.uniq.map { |size_ar| [size_ar.size.ctxt + '-' + size_ar.number.to_s, size_ar.size.id] } %>
                              <% @size = "size" + f.id.to_s %>
                              <td width="100"><%= select_tag(@size, options_for_select(sizes_array), class: "btn") %></td>
                              <%= text_field_tag(:size_id, f.id, type: "hidden") %>
                          <% numbers_array = (1..10).map { |num| [num.to_s, num ] } %>
                          <% @num ="num" + f.id.to_s %>
                         <td width="100"><%= select_tag(@num, options_for_select(numbers_array), class: "btn") %></td> 
                          <% @check = "check" + f.id.to_s %>
                         <td align="center"><%= check_box_tag(@check, f.id) %></td>
                         <% if signed_in? && current_user.admin? %>


                         <% end %>   

               <% end %>   
                          
                    </tr>
                 <% end %>
                </table><br> 
                </div>
                
              </div>    
         </div>
      </span>
   </div>
   <%= render "products/show_photo" %>
</div>
