<footer >
</footer>
<div class="row">
</div>
      <hr>
      <br><br><br>
      <div class="col-xs-2 col-sm-2 col-md-1 col-xs-offset-1 col-sm-offset-1 col-md-offset-1" style="margin-right: 30px;"><%= link_to "Компания", "#", class: ["cat", "ws13"] %></div>
      <div class="col-xs-2 col-sm-2 col-md-2"><%= link_to "Доставка и оплата", "#", class: ["cat", "ws13"] %></div>
      <div class="col-xs-2 col-sm-2 col-md-2"><%= link_to "Обмен и возврат", "#", class: ["cat", "ws13"]%></div>
      <div class="col-xs-2 col-sm-2 col-md-2"><%= link_to "Контакты", "#", class: ["cat", "ws13"] %></div>
      <div class="col-xs-2 col-sm-2 col-md-1"><%= link_to "Партнерам", about_path , class: ["cat", "ws13"]%></div>
    </div>


<div class="row">
        <div class="col-xs-8 col-sm-8 col-md-5 col-md-offset-1 col-sm-offset-1">
            <br>
            <div class="ws7"><font color="#C0C0C0";>© 2014 CITY mix - All rigts reserved</font></div>
       </div>
</div>
