<footer class="footer" style="margin-left: 8%">
    <ul class="col-sm-12 col-md-12 col-xs-6"> <br><br><br><br>
      <li class="col-sm-2 col-md-1" style="margin-right: 30px;"><%= link_to "Компания", "#", class: ["cat", "ws13"] %> </li>
      <li class="col-sm-6 col-md-3 col-md-offset-0" style="margin-left: 40px;"><%= link_to "Доставка и оплата", "#", class: ["cat", "ws13"] %> </li>
      <li class="col-sm-4 col-md-2 col-md-offset-0"><%= link_to "Обмен и возврат", "#", class: ["cat", "ws13"]%> </li>
      <li class="col-sm-2 col-md-1 col-md-offset-1"><%= link_to "Контакты", "#", class: ["cat", "ws13"] %> </li>
      <li class="col-sm-2 col-md-1 col-md-offset-1"><%= link_to "Партнерам", about_path , class: ["cat", "ws13"]%></li>
    </ul>  
</footer>
<div class="row">
        <div class="col-sm-4 col-md-3 col-xs-6 col-md-offset-1 col-sm-offset-1">
            <br>
            <div class="ws7"><font color="#C0C0C0";>© 2014 CITY mix - All rigts reserved</font></div>
       </div>
    </div>
